body{
    background-color: #688d85;
}
.container
{
    background: #293f50;
    color: #fff;
    max-width: 550px;
    height: 150px;
    padding: 5px 40px 35px 0px;
    border-radius: 20px;
    margin: 0px auto 0;
    text-align: center;
    transition: height 1s ease ;
    display: none;
}
.more-info,.form{
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 20px 50px;
   font-size: 30px;
   font-weight: lighter;
}
.form button img{
    height: 20px;
}
.form input{
    height: 40px;
    border-radius: 40px;
    flex: 1;
    background-color: rgb(243, 245, 241);
    font-size: 30px;
    border: 5px seashell;
    text-align: center;
}
.form button{
    margin: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(243, 245, 241);
    border: 5px seashell;
}
.info img{
    height: 150px;
    width: 150px;
}
.info h1{
    text-indent: 20px;
    font-size: 50px;
}
.info h2{
    margin-top: -20px;
    text-indent: 20px;
    font-size: 40px;
}
.humid,.wind{
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 20px;
}
.wind img,.humid img{
    width: 50px;
    height: 80px;
    margin-right: 20px;
}
.wind{
    margin-right: -20px;
}
.det{
    margin-top: -3px;
}
.weather{
    display: none;
    /*
    transform: translateY(100%);
    transition-duration: 3s; */
}
.error,.correct{
    display: none;
}
.correct img{
    height: 200px;
    width: 200px;
}
/*pop-up*/
.popup{
    height: 200px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: #fff;
    background-color: #293f50;
    text-align: center;
    border-radius: 20px;
    border: 5px solid #24323d;
}
.btn1,.btn2{
    font-size: 20px;
    margin: 0px 20px 0px 20px;
    padding: 10px;
    border-radius: 8px;
}
.btn1:hover,.btn2:hover{
    cursor:auto;
    font-size: 23px;
}
/*responsive design*/
@media only screen and (max-width:430px){
    .popup{
        height: auto;
        width: 250px;
    }
    .container{
        width: 250px;
        height: 60px;
    }
    .form{
        margin: 10px 30px
    }
    .form input{
        font-size: 15px;
    }
    .humid{
        font-size: 20px;
        margin-top: 30px;
        margin-left: -38px;
    }
    .wind{
        font-size: 20px;
        margin-top: 30px;
        margin-right: 20px;
    }
    .wind img,.humid img{
        width: 40px;
        height: 50px;
        margin-right: 20px;
    }
    .det{
        margin-top: 5px;
    }
    .error,.correct{
        margin-left: 30px;
    }
}